:root {
  --bg-primary: #f4f4f4;
  --bg-secondary: #f4f4f4;
  --text-primary: #000000;
  --text-secondary: #444444;
  --text-invert: #ffffff;
  --shadow-primary: 12px 12px 24px 8px rgba(0, 0, 0, 0.16);
  --shadow-secondary: -12px -12px 24px 8px rgba(255, 255, 255, 0.8);
  --button-primary: #282828;
  --button-secondary: #888888;
}

.background {
  /*background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);*/
  background: var(--bg-primary);
}

.home-block {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-card {
  /*background: linear-gradient(0deg, #ffffff, #ffffff);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);*/
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary), var(--shadow-secondary);
  border-radius: 40px;
  padding: 40px;
}

.button {
  width: 400px;
  height: 48px;
  margin-top: 10px;
  background-color: var(--button-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-border {
  width: 400px;
  height: 48px;
  margin-top: 10px;
  border: solid 1px var(--button-secondary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  color: var(--text-primary);
  font-weight: 600;
}

.button-text-white {
  color: var(--text-invert);
  font-weight: 600;
}

.textfield {
  width: 100%;
  margin-bottom: 20px;
  height: 48px;
}

.text-title {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-primary);
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-subtitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-option {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-secondary);
  text-align: center;
}

.space-text {
    margin-top: 32px;
    margin-bottom: 32px;
}
